<!-- place at bottom of page -->
<div class="footer">
  <!-- small font  -->
  <p><span class="text-muted"> Developed by</span> Lewi Lie Uberg</p>
  <!-- small break -->
  <div class="row">
    <div class="col-md-6">
      <a href="https://uberg.me"
        ><img
          align="left"
          alt="uberg.me"
          width="22px"
          src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
      <a href="https://www.linkedin.com/in/lewiuberg/"
        ><img
          align="left"
          alt="lewiuberg | LinkedIn"
          width="22px"
          src="https://camo.githubusercontent.com/5248ae65e2afbe33b3adb6717bd1e6c5ae2e138bd9fda22db193379ae11536ea/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e734076352f69636f6e732f6c696e6b6564696e2e737667"
          data-canonical-src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/linkedin.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
      <a href="https://lewiuberg.medium.com"
        ><img
          align="left"
          alt="lewiuberg | Medium"
          width="22px"
          src="https://camo.githubusercontent.com/15a324eb6f7704130d4ce10511fe234c094ff4d4103a4d1d376215fa79e24969/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e734076352f69636f6e732f6d656469756d2e737667"
          data-canonical-src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/medium.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
      <a href="https://pypi.org/user/lewiuberg/"
        ><img
          align="left"
          alt="lewiuberg | PyPI"
          width="22px"
          src="https://camo.githubusercontent.com/fe9fd002f562d1e99c979e197c13ce7fab605ed5ef4680be628429715d834302/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e734076352f69636f6e732f707970692e737667"
          data-canonical-src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/pypi.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
      <a href="https://stackoverflow.com/users/10685529/lewi-uberg"
        ><img
          align="left"
          alt="lewiuberg | StackOverflow"
          width="22px"
          src="https://camo.githubusercontent.com/dbbedc41d4b7fe14730ed2e2815bdf31cbb6eea030ff47de03c81b746703a72e/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e734076352f69636f6e732f737461636b6f766572666c6f772e737667"
          data-canonical-src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/stackoverflow.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
      <a
        href="https://github.com/lewiuberg/lewiuberg/blob/lewiuberg-patch-1/https:/uberg.me/feed.xml"
        ><img
          align="left"
          alt="lewiuberg | RSS"
          width="22px"
          src="https://camo.githubusercontent.com/946f7109868d1b029024d9a4be4a713cc5448c5d43d0d8d340499f6aa45e5c26/68747470733a2f2f63646e2e6a7364656c6976722e6e65742f6e706d2f73696d706c652d69636f6e734076352f69636f6e732f7273732e737667"
          data-canonical-src="https://cdn.jsdelivr.net/npm/simple-icons@v5/icons/rss.svg"
          style="max-width: 100%; margin-right: 10px"
      /></a>
    </div>
  </div>
</div>
