<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Tumorclass.info</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'home' %} active {% endif %}"
            href="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link {% if active_page == 'about' %} active {% endif %}"
            href="/about"
            >About</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle {% if active_page == 'data' or active_page == 'literature-review' or active_page == 'conference-paper' %} active {% endif %}"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Information</a
          >
          <div class="dropdown-menu">
            <a
              class="dropdown-item {% if active_page == 'data' %} active {% endif %}"
              href="/data"
              >Data</a
            >
            <a
              class="dropdown-item {% if active_page == 'literature-review' %} active {% endif %}"
              href="/literature-review"
              >Literature Review</a
            >
            <a
              class="dropdown-item {% if active_page == 'conference-paper' %} active {% endif %}"
              href="/conference-paper"
              >Conference Paper</a
            >
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-bs-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Find me at</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://uberg.me">Website</a>
            <a
              class="dropdown-item"
              href="https://www.linkedin.com/in/lewiuberg/"
              >LinkedIn</a
            >
            <a class="dropdown-item" href="https://lewiuberg.medium.com"
              >Medium</a
            >
            <a class="dropdown-item" href="https://pypi.org/user/lewiuberg/"
              >PyPI</a
            >
            <a
              class="dropdown-item"
              href="https://stackoverflow.com/users/10685529/lewi-uberg"
              >StackOverflow</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
